<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Detail</title>
</head>
<body id="detail-page">

    <%- include ("partials/header") %>

    <main class="character-details-page">
        <article class="character-info">
            <img src="<%= data.data[0].images.icon %>" alt="<%= data.data[0].name %>" class="character" draggable="false">

            <section class="note-box">
                <label for="note-input" class="note-label">Eigen notitie:</label>
                <input type="text" id="note-input" class="note-input" placeholder="Schrijf...">
                
            </section>
        </article>

        <section class="description-box">
            <p>
                <%= data.data[0].description %>
            </p>

            <section class="actions">
                <form action="selection">
                      <input type="hidden" name="id" value="<%= data.data[0].name %>">
                <button class="like-button" aria-label="Vind ik leuk">❤️</button>
                </form>
                <form action="verbannen" method="post">
                    <input type="hidden" name="name" value="<%= data.data[0].name %>">
                     <button class="ban-button" aria-label="Verbannen">🚫</button>
                </form>
               
            </section>
        </section>
    </main>
</body>
</html>