<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <title>Favorites</title>
</head>
<body id="detail-page">

  <%- include("partials/header") %>

  <main>
    <section class="character-selection">
      <h1>Favorieten</h1>
      <section class="character-details">
        <% if (favorites && favorites.length > 0) { %>
          <% favorites.forEach(fav => { %>
            <article class="character-card">
              <a href="/detail?id=<%= fav.id %>">
                <img src="<%= fav.image %>" alt="Favorite Character" class="character" />
                 
              </a>
               <p><strong>Wapen:</strong> <%= fav.weapon %></p>
                <p><strong>Emote:</strong> <%= fav.emote %></p>
                <form action="/favorite/delete" method="POST">
                  <input type="hidden" name="id" value="<%= fav.id %>">
                  <button type="submit" class="remove-button">X</button>
                </form>
            </article>
          <% }) %>
        <% } else { %>
          <p>Je hebt nog geen favorieten toegevoegd.</p>
        <% } %>

      </section>
    </section>
  </main>

  <footer></footer> 

</body>
</html>
