<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <title>Favorites</title>
</head>
<body id="detail-page">

  <%- include("partials/header") %>

  <main>
    <section class="character-selection">
      <h1>Favorieten</h1>
      <section class="character-details">
        <% if (favorites && favorites.length > 0) { %>
          <% favorites.forEach(fav => { %>
            <article class="character-card">

              <form action="/selection" method="POST" class="character-card-form-favorite">
                <input type="hidden" name="weapon" value="<%= fav.weapon %>">
                <input type="hidden" name="emote" value="<%= fav.emote %>">
                <input type="hidden" name="characterId" value="<%= fav.id %>">
                <input type="hidden" name="characterImage" value="<%= fav.image %>">
                <button type="submit" class="character-button">
                  <img src="<%= fav.image %>" alt="Favorite Character"  />
                  <p><strong>Wapen:</strong> <%= fav.weapon %></p>
                  <p><strong>Emote:</strong> <%= fav.emote %></p>
                  <p><strong>Wins:</strong> <%= fav.wins || 0 %></p>
                  <p><strong>Loses:</strong> <%= fav.loses || 0 %></p>
                </button>
              </form>
              <form action="/favorite/delete" method="POST" class="delete-form">
                <input type="hidden" name="id" value="<%= fav.id %>">
                <button type="submit" class="remove-button">❌</button>
              </form>
            </article>
          <% }) %>
        <% } else { %>
          <p>Je hebt nog geen favorieten toegevoegd.</p>
        <% } %>
      </section>
    </section>
  </main>
  <footer></footer> 
</body>
</html>
